name: Run Benchmarks

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
jobs:
  benchmark:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1

      - name: Restore dependencies
        run: dotnet restore

      - name: Build solution
        run: dotnet build -c Release

      - name: Run BenchmarkDotNet
        run: |
          dotnet run -c Release --project Pcysl5edgo.RedundantPath.Benchmark/Pcysl5edgo.RedundantPath.Benchmark.csproj
          
      - name: Upload Benchmark Results
        uses: actions/upload-artifact@v5
        with:
          name: benchmark-results-${{ matrix.os }}
          path: |
            **/BenchmarkDotNet.Artifacts/**